/* 链接蓝 */
@color-blue-link: #5D7299;
/* 南都红 */
@color-red-nd: #F73035;
/* 线条色 */
@color-border: #eee;

/* 黑色 */
@color-black-darker: #212224; /* 一级黑 */
@color-black-dark: #3C3D3F; /* 二级黑 */
@color-black: #6E7174; /* 三级黑 */
@color-black-light: #AAADB3; /* 四级黑 */
@color-black-lightest: #F3F6F8;

/*背景颜色*/
@bg-black-dark: #4a4a4a;
@bg-black-lightest:#f7f7f7;

/*绿色*/
@color-green:#44b549;

/*黄色*/
@color-yellow-dark:#FFB34E;

.animate-delay(@speed) {
  animte-delay: @speed;
  -webkit-animation-delay: @speed;
}

/**
背景图
缩放模式，保持纵横比缩放图片，只保证图片的短边能完全显示出来。也就是说，图片通常只在水平或垂直方向是完整的，另一个方向将会发生截取。
 */
.bg-cover(@url,@bgcolor) {
  background: src(@url) @bgcolor center/cover no-repeat;
}

.bg-cover-noimg(@bgcolor) {
  background: @bgcolor center/cover no-repeat;
}

/*子元素必须为img 缩放模式，保持纵横比缩放图片，只保证图片的短边能完全显示出来*/
.pic-cover(@bgcolor) {
  overflow: hidden;
  display: flex;
  background-size: cover;
  img {
    display: block;
    flex-grow: 1;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    background-color: @bgcolor;
  }
}

.border-half-bottom(@color) {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px; /*no*/
    transform: scale(1, 0.5);
    transform-origin: center bottom;
    border-bottom: 1px solid @color; /*no*/
  }
}

.border-half-top(@color) {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: 0;
    height: 1px; /*no*/
    transform: scale(1, 0.5);
    transform-origin: center top;
    border-bottom: 1px solid @color; /*no*/
  }
}
.border-around(@color) {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    width: 200%;
    left: -1px;
    bottom: -1px;
    height: 200%;
    transform: scale(0.5, 0.5);
    transform-origin: bottom left;
    border: 1px solid @color;
    z-index: 1;
  }
}

body {
  color: @color-black-dark;
}

a {
  color: @color-black-dark;
}

